@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.circle {
  border-radius: 100px;
}

.bg-white {
  background-color: white;
}

.jumbotron {
  margin: 0;
}
